# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Engine directory
#     SGE default install path
ZombieGame/SGE/

# ECS entt

# idea Clion
*/.idea/

# build dir
build/*
# cmake build dir
*cmake-build-*/

# CLion project
*.idea/

conanbuildinfo.txt
conan_imports_manifest.txt

/.vs
/dlls
/CMakeSettings.json
/Setup/build/*
/CppProperties.json

# default local setup project libs
setup

# cmake files
CMakeCache.txt
CMakeFiles/
compile_commands.json

# vs code
.vscode

